.skills {
	background-color: $white;
	text-align: center;

	#skills-left {
		width: 332px;
	    display: inline-block;
	    padding: 0 5%;
	}

	#skills-right {
		width: 332px;
	    display: inline-block;
	    padding: 0 5%;
	}

	.skill {
		width: 400px;
	}

	.label {
		width: 90px;
		margin-left: -70px;
		float: left;
		text-align: left;
	}

	.shadow {
	    display: block;
	    width: 0px;
	    height: 30px;
	    margin-bottom: 20px;
	    margin-left: 30px;
	    box-shadow: -7px 1px 1px #888888;
	    border-radius: 10px;
	}

	.bar {
	    display: block;
	    width: 302px;
	    height: 30px;
	    margin-left: -10px;
	    border-radius: 17px;
	    background-color: #EBEBEB;
	    overflow: hidden;
	}

	.path {
	    display: block;
	    height: 28px;
	    width: 0%;
	    background-color: #BADA55;
	    border: 1px solid $blue;
	    border-radius: 15px;
	    overflow: hidden;
	}

	.pattern {
	    height: 100%;
	    width: 100%;
	    background-image: url(../assets/img/pattern.png);
	    background-color: #FB7457;
	}

	.percentage {
	    margin-left: 0px;
	    text-align: center;
	    font-family: "Verdana", sans-serif;
	    font-size: 0.8em;
	    line-height: 28px;
	}
}

@media only screen and (max-width: 1043px) {
	.skills {
		min-height: 900px;

		#skills-left {
			width: 230px;
		}

		#skills-right {
			width: 230px;
		}

		.skill {
			width: 230px;;
		}

		.label {
			float: none;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			width: 90px;
		}

		.shadow {
		    margin-left: 0;
		}

		.bar {
		    width: 250px;
		}

		.shadow {
			box-shadow: none;
		}
	}
}